<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.Music</string>
	<key>platform-application</key>
	<true/>
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>com.apple.private.security.no-container</key>
	<true/>
	<key>task_for_pid-allow</key>
	<true/>
	<key>proc_info-allow</key>
	<true/>
	<key>com.apple.private.persona-mgmt</key>
	<true/>
	<key>com.apple.private.security.container-manager</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.allowed</key>
	<true/>
	<key>com.apple.private.security.storage-exempt.heritable</key>
	<true/>
	<key>com.apple.private.security.storage.AppBundles</key>
	<true/>
	<key>com.apple.private.security.storage.MobileDocuments</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceSystemPolicyAllFiles</string>
	</array>
	<key>file-read-data</key>
	<true/>
	<key>user-preference-read</key>
	<true/>
	<key>user-preference-write</key>
	<true/>
	<key>com.apple.developer.kernel.extended-virtual-addressing</key>
	<true/>
	<key>com.apple.developer.kernel.increased-memory-limit</key>
	<true/>
	<key>com.apple.private.memorystatus</key>
	<true/>
	<key>com.apple.private.kernel.jetsam</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.backboardd.launchapplications</key>
	<true/>
	<key>com.apple.springboard.launchapplications</key>
	<true/>
	<key>com.apple.backboard.client</key>
	<true/>
	<key>com.apple.frontboard.system-service</key>
	<true/>
	<key>com.apple.frontboard.systemappservices</key>
	<true/>
	<key>com.apple.runningboard.primitiveattribute</key>
	<true/>
	<key>com.apple.runningboard.assertions.frontboard</key>
	<true/>
	<key>com.apple.springboard.accessibility-window-hosting</key>
	<true/>
	<key>com.apple.springboard.appbackgroundstyle</key>
	<true/>
	<key>com.apple.springboard.disallowControlCenter</key>
	<true/>
	<key>com.apple.springboard.disallowNotificationCenter</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.QuartzCore.displayable-context</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>AGXDeviceUserClient</string>
		<string>IOSurfaceRootUserClient</string>
		<string>AppleKeyStoreUserClient</string>
		<string>IOPMPowerSourceClient</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>AGXDevice</string>
		<string>AGXDeviceUserClient</string>
		<string>AGXSharedUserClient</string>
		<string>AGXGLContext</string>
		<string>AGXCommandQueue</string>
		<string>IOSurfaceRoot</string>
		<string>IOSurfaceRootUserClient</string>
		<string>AppleJPEGDriverUserClient</string>
		<string>H11ANEInDirectPathClient</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.frontboard.systemappservices</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>group.com.apple.Music.shared</string>
	</array>
	<key>com.apple.multitasking.termination</key>
	<true/>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.files.user-selected.read-only</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.lsapplicationworkspace.rebuildappdatabases</key>
	<true/>
	<key>com.apple.private.MobileInstallationHelperService.InstallDaemonOpsEnabled</key>
	<true/>
	<key>com.apple.private.MobileInstallationHelperService.allowed</key>
	<true/>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>InstallForLaunchServices</string>
		<string>Install</string>
		<string>UninstallForLaunchServices</string>
		<string>Uninstall</string>
		<string>UpdatePlaceholderMetadata</string>
	</array>
	<key>com.apple.private.uninstall.deletion</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>data-allowed-write</string>
	</array>
</dict>
</plist>
